@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-black;
  @apply text-gray-400;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  @apply bg-transparent;
}
// ::-webkit-scrollbar-button {
//   /* 2 */
// }
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-900;
  @apply rounded;
  @apply transition-colors;
  @apply duration-200;

  &:hover {
    @apply bg-gray-800;
  }
}

@import '~@brainhubeu/react-carousel/lib/style.css';
@import './lightbox.scss';
@import './markdown.scss';
@import './prism-syntax.scss';
